<!-- our-team.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Team</title>
    <!-- Add any CSS or styles specific to the team page here -->
    <link rel="stylesheet" href="/style/our-team.css" />
    <link rel="stylesheet" href="/style/navbar.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  </head>
  <body>
    <!-- Tampilan header saat sudah login -->
    <div id="navbar-container"></div>
    <!-- header section ends -->
    <!-- Copy the contents of your team section from the main page here -->
    <section class="our-team" id="our-team">
      <h1 class="heading">meet our <span>team</span></h1>
      <p>
        Hello guys! We are the team that made this mental health application, we
        really hope that this application will be useful for you. We ask for
        your support for the development of this application
      </p>

      <div class="container-team">
        <div class="team-card">
          <img src="/img/josiah.jpeg" alt="Member 1" />
          <div class="divider"></div>
          <div class="team-member-info">
            <h2 class="team-member-name">Josiah Farrel Suwito</h2>
            <p class="team-member-title">Leader</p>
            <div style="display: flex; justify-content: center">
              <a href="https://www.linkedin.com/in/nama-anda" target="_blank"
                ><h1 style="font-size: 3em; margin-right: 0.5em">
                  <i class="fa-brands fa-linkedin"></i></h1
              ></a>
              <a href="https://www.instagram.com/nama-anda" target="_blank"
                ><h1 style="font-size: 3em">
                  <i class="fa-brands fa-instagram"></i></h1
              ></a>
            </div>
          </div>
        </div>

        <div class="team-card">
          <img src="/img/bintang.jpg" alt="Member 2" />
          <div class="divider"></div>
          <div class="team-member-info">
            <h2 class="team-member-name">Bintang Ramadhana Faturizky</h2>
            <p class="team-member-title">Backend</p>
            <div style="display: flex; justify-content: center">
              <a
                href="https://www.linkedin.com/in/bintang-ramadhana/
"
                target="_blank"
                ><h1 style="font-size: 3em; margin-right: 0.5em">
                  <i class="fa-brands fa-linkedin"></i></h1
              ></a>
              <a
                href="https://instagram.com/mas_b.ramadhana?igshid=MzNlNGNkZWQ4Mg=="
                target="_blank"
                ><h1 style="font-size: 3em">
                  <i class="fa-brands fa-instagram"></i></h1
              ></a>
            </div>
          </div>
        </div>

        <div class="team-card">
          <img src="/img/radit.jpeg" alt="Member 2" />
          <div class="divider"></div>
          <div class="team-member-info">
            <h2 class="team-member-name">Raditya Agung Mahendra</h2>
            <p class="team-member-title">Quality Assurance</p>
            <div style="display: flex; justify-content: center">
              <a
                href="https://www.linkedin.com/in/raditya-agung-mahendra-b40977267/"
                target="_blank"
                ><h1 style="font-size: 3em; margin-right: 0.5em">
                  <i class="fa-brands fa-linkedin"></i></h1
              ></a>
              <a href="https://www.instagram.com/radityaam_/" target="_blank"
                ><h1 style="font-size: 3em">
                  <i class="fa-brands fa-instagram"></i></h1
              ></a>
            </div>
          </div>
        </div>

        <div class="team-card">
          <img src="/img/rahayu.jpg" alt="Member 2" />
          <div class="divider"></div>
          <div class="team-member-info">
            <h2 class="team-member-name">Rahayu Nur Rahmawati</h2>
            <p class="team-member-title">Frontend</p>
            <div style="display: flex; justify-content: center">
              <a href="https://www.linkedin.com/in/nama-anda" target="_blank"
                ><h1 style="font-size: 3em; margin-right: 0.5em">
                  <i class="fa-brands fa-linkedin"></i></h1
              ></a>
              <a href="https://www.instagram.com/nama-anda" target="_blank"
                ><h1 style="font-size: 3em">
                  <i class="fa-brands fa-instagram"></i></h1
              ></a>
            </div>
          </div>
        </div>

        <div class="team-card">
          <img src="/img/raihanah.jpg" alt="Member 2" />
          <div class="divider"></div>
          <div class="team-member-info">
            <h2 class="team-member-name">Raihanah Zahira</h2>
            <p class="team-member-title">Backend</p>
            <div style="display: flex; justify-content: center">
              <a
                href="https://www.linkedin.com/in/raihanah-zahira-a70bbb227/"
                target="_blank"
                ><h1 style="font-size: 3em; margin-right: 0.5em">
                  <i class="fa-brands fa-linkedin"></i></h1
              ></a>
              <a href="https://www.instagram.com/rehanazhr/" target="_blank"
                ><h1 style="font-size: 3em">
                  <i class="fa-brands fa-instagram"></i></h1
              ></a>
            </div>
          </div>
        </div>

        <div class="team-card">
          <img src="/img/syahyana.jpg" alt="Member 2" />
          <div class="divider"></div>
          <div class="team-member-info">
            <h2 class="team-member-name">Syahyana Iswari</h2>
            <p class="team-member-title">Backend</p>
            <div style="display: flex; justify-content: center">
              <a
                href="https://www.linkedin.com/in/syahyana-iswari-0352a0270
"
                target="_blank"
                ><h1 style="font-size: 3em; margin-right: 0.5em">
                  <i class="fa-brands fa-linkedin"></i></h1
              ></a>
              <a
                href="https://instagram.com/syahyanaa_?igshid=ZDdkNTZiNTM="
                target="_blank"
                ><h1 style="font-size: 3em">
                  <i class="fa-brands fa-instagram"></i></h1
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- <script src="/script/navbar_footer.js"></script> -->
    <script src="/script/script.js"></script>

    <script>
      // Fungsi untuk memeriksa apakah pengguna sudah login atau belum
      function checkLoginStatus() {
        fetch("/check-login-status") // Ganti dengan endpoint yang sesuai untuk memeriksa status login
          .then((response) => response.json())
          .then((data) => {
            if (data.isLoggedIn) {
              // Pengguna sudah login, load navbar sesudah login
              fetch("/navbar-after-login")
                .then((response) => response.text())
                .then((navbarHTML) => {
                  document.getElementById("navbar-container").innerHTML =
                    navbarHTML;
                });
            } else {
              // Pengguna belum login, load navbar sebelum login
              fetch("/navbar-before-login")
                .then((response) => response.text())
                .then((navbarHTML) => {
                  document.getElementById("navbar-container").innerHTML =
                    navbarHTML;
                });
            }
          });
      }

      // Panggil fungsi checkLoginStatus saat halaman dimuat
      window.onload = checkLoginStatus();
    </script>
  </body>
</html>
